{% extends 'base.html' %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/ArticleUpdates_style.css' %}">
{% endblock %}
{% block contents %}
	<div id="Group">
		<div id="n_7">
			<svg class="n_6">
				<rect id="n_6" rx="0" ry="0" x="0" y="0" width="1698" height="772">
				</rect>
			</svg>
			<svg class="n_8">
				<rect id="n_8" rx="0" ry="0" x="0" y="0" width="1632" height="583">
				</rect>
			</svg>
			<svg class="n_7_">
				<rect id="n_7_" rx="0" ry="0" x="0" y="0" width="529" height="337">
				</rect>
			</svg>
			<svg class="n_9">
				<rect id="n_9" rx="0" ry="0" x="0" y="0" width="529" height="94">
				</rect>
			</svg>
			<svg class="n_10">
				<rect id="n_10" rx="0" ry="0" x="0" y="0" width="314" height="375">
				</rect>
			</svg>
			<svg class="n_10_">
				<rect id="n_10_" rx="0" ry="0" x="0" y="0" width="314" height="375">
				</rect>
			</svg>
			<svg class="n_10_ba">
				<rect id="n_10_ba" rx="0" ry="0" x="0" y="0" width="314" height="375">
				</rect>
			</svg>
			<div id="Text">
				<span>名前</span>
			</div>
			<div id="Text_">
				<span>情報</span>
			</div>
			<div id="n_">
				<span>写真</span><br/>
			</div>
			<div id="n__bb">
				<span>写真</span><br/>
			</div>
			<div id="n__bc">
				<span>写真</span><br/>
			</div>
		</div>
		<div id="Text_bd">
			<span>一覧ページへ→</span>
		</div>
		<div id="n_26">
			<svg class="n_27">
				<rect id="n_27" rx="32.5" ry="32.5" x="0" y="0" width="167" height="65">
				</rect>
			</svg>
			<div onclick="application.goToTargetView(event)" id="Text_bg">
				<span>削除</span>
			</div>
		</div>
	</div>
	{% endblock %}
