.mediaViewInfo {
	--web-view-name: 記事更新;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}


@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group {
	position: absolute;
	width: 1698px;
	height: 772px;
	left: 160px;
	top: 252px;
	overflow: visible;
}
#n_7 {
	position: absolute;
	width: 1698px;
	height: 772px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_6 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_6 {
	position: absolute;
	overflow: visible;
	width: 1698px;
	height: 772px;
	left: 0px;
	top: 0px;
}
#n_8 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_8 {
	position: absolute;
	overflow: visible;
	width: 1632px;
	height: 583px;
	left: 33px;
	top: 47px;
}
#n_7_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7_ {
	position: absolute;
	overflow: visible;
	width: 529px;
	height: 337px;
	left: 112px;
	top: 216px;
}
#n_9 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_9 {
	position: absolute;
	overflow: visible;
	width: 529px;
	height: 94px;
	left: 112px;
	top: 85px;
}
#n_10 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_10 {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 375px;
	left: 673px;
	top: 85px;
}
#n_10_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_10_ {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 375px;
	left: 1007px;
	top: 85px;
}
#n_10_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_10_ba {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 375px;
	left: 1342px;
	top: 85px;
}
#Text {
	left: 152px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_ {
	left: 152px;
	top: 235px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#n_ {
	left: 769px;
	top: 222px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	color: rgba(0,0,0,1);
}
#n__bb {
	left: 1101px;
	top: 224px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	color: rgba(0,0,0,1);
}
#n__bc {
	left: 1436px;
	top: 224px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	color: rgba(0,0,0,1);
}
#Text_bd {
	left: 1359px;
	top: 692px;
	position: absolute;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#n_26 {
	position: absolute;
	width: 365px;
	height: 66px;
	left: 1257px;
	top: 542px;
	overflow: visible;
}
#n_27 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_27 {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 65px;
	left: 198px;
	top: 1px;
}
#Text_bg {
	left: 235.257px;
	top: 4.917px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: _____.html;
	cursor: pointer;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#n_28 {
	position: absolute;
	width: 167px;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: _____.html;
	cursor: pointer;
}
#n_27_bi {
	position: absolute;
	width: 167px;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_27_bj {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_27_bj {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Text_bk {
	left: 37.257px;
	top: 2.917px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#n_4__10 {
	position: absolute;
	width: 1920px;
	height: 178px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path {
	fill: rgba(41,165,36,0.102);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 178px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_2 {
	position: absolute;
	width: 167px;
	height: 173px;
	left: 179px;
	top: 0px;
	overflow: visible;
}
